@inject IDialogService Dialog
<MudText Align="Align.Left" Typo="Typo.h5" Class="mb-4  mt-6">Active Sprint</MudText>

<div Class="d-flex flex-grow-1 gap-4">
    <div>
        <MudTextField Class="flex-grow-0" @bind-Value="Search" Label="Search" Variant="Variant.Outlined"
            Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Dark"
            DebounceInterval="700" OnDebounceIntervalElapsed=@OnSearchInput />
    </div>

    <div Class="d-flex justify-start align-content-center flex-wrap flex-grow-1">
        <MudAvatarGroup Max=6 Spacing=3 MaxColor="Color.Primary">
            @foreach (var user in UserList)
            {
                <MudAvatar Class=@(user.GetUserAvatarColor())> @user.Username[0] </MudAvatar>
            }
        </MudAvatarGroup>
        <MudFab DisableElevation="true" StartIcon=@Icons.Filled.PersonAddAlt1 Size="Size.Small"
            OnClick=@OpenAddUserToProjDialog />
    </div>

    <div Class="d-flex justify-end flex-wrap flex-grow-1 gap-6">
        <div Class="d-flex flex-grow-0 align-self-center gap-2">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.CompareArrows" Color="Color.Info"
                OnClick=@OpenReorderDialog Size="Size.Medium">Reorder
            </MudButton>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Tertiary"
                OnClick=@OpenCreateSwimlaneDialog Size="Size.Medium">Swimlane
            </MudButton>
            @if (ProjectType != "kanban")
            {
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Done" Color="Color.Success"
                OnClick=@OpenCompleteSprint Size="Size.Medium">Complete
                </MudButton>
            }
        </div>
        <div Class="flex-grow-0 align-self-center">
            <MudSelect Margin="Margin.Dense" Label="Sort by" T="string" Variant="Variant.Filled"
                TextChanged=@OnSortValueChange>
                <MudSelectItem Value=@("ID") />
                <MudSelectItem Value=@("Name") />
                <MudSelectItem Value=@("Priority") />
                <MudSelectItem Value=@("Date Created") />
                <MudSelectItem Value=@("Assignee") />
                <MudSelectItem Value=@("Epic") />
            </MudSelect>
        </div>
    </div>
</div>

@code {
    [Parameter] public List<User> UserList { get; set; } = new();
    [Parameter] public List<Sprint> SprintList { get; set; } = new();
    [Parameter] public List<Swimlane> SwimlaneList { get; set; } = new();
    [Parameter] public EventCallback<string> SortIssueList { get; set; }

    [Parameter] public string ProjectId { get; set; } = string.Empty;
    [Parameter] public string ProjectType { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> SetSearchWord { get; set; }

    [Parameter] public Action? ReloadResource { get; set; }

    [Parameter] public string Search { get; set; } = string.Empty;
    [Parameter] public int? ActiveSprintId { get; set; } = 0;

    async void OnSortValueChange(string sortName)
    {
        switch (sortName)
        {
            case "ID":
            case "Date Created":
                await SortIssueList.InvokeAsync("id-desc");
                break;
            case "Name":
                await SortIssueList.InvokeAsync("name-desc");
                break;
            case "Priority":
                await SortIssueList.InvokeAsync("priority-desc");
                break;
            case "Assignee":
                await SortIssueList.InvokeAsync("assignee-desc");
                break;
            case "Epic":
                await SortIssueList.InvokeAsync("epic-desc");
                break;
            default:
                break;
        }
    }

    public void OpenCreateSwimlaneDialog()
    {
        var dialogParam = new DialogParameters() { };
        dialogParam.Add("ProjectId", ProjectId);
        dialogParam.Add("ReloadResource", ReloadResource);

        var options = new DialogOptions { DisableBackdropClick = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        Dialog.Show<AddSwimlaneForm>("Create Swimlane", dialogParam, options);
    }

    public void OpenAddUserToProjDialog()
    {
        var dialogParam = new DialogParameters() { };
        dialogParam.Add("ProjectId", ProjectId);
        dialogParam.Add("ReloadResource", ReloadResource);

        var options = new DialogOptions { DisableBackdropClick = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        Dialog.Show<AddUserToProjectForm>("Add user to project", dialogParam, options);
    }

    public void OpenCompleteSprint()
    {
        var dialogParam = new DialogParameters() { };
        dialogParam.Add("ProjectId", ProjectId);
        dialogParam.Add("ActiveSprintId", ActiveSprintId);
        dialogParam.Add("ReloadResource", ReloadResource);

        var options = new DialogOptions { DisableBackdropClick = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        Dialog.Show<CompleteSprintForm>("End Sprint", dialogParam, options);
    }

    public void OpenReorderDialog()
    {
        var dialogParam = new DialogParameters() { };
        dialogParam.Add("ProjectId", ProjectId);
        dialogParam.Add("ReloadResource", ReloadResource);
        dialogParam.Add("SwimlaneList", SwimlaneList);

        var options = new DialogOptions { DisableBackdropClick = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        Dialog.Show<ReorderForm>("Reorder Swimlane", dialogParam, options);
    }

    void OnSearchInput(string searchWord)
    {
        SetSearchWord.InvokeAsync(searchWord);
    }
}